@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="site.js" type="text/javascript"></script>
</head>
<div class="EntirePage">
<div class="text-center">
    <h1 class="display-4">LightYear</h1>
    <h3>You are @ViewBag.Turn number of turns in!  Good luck! </h3>
</div>
    <div >
        <div class="Ship_Map_Position_Block" id="slot1">Player1</div>
        <div class="Ship_Map_Position_Block" id="slot2">1/11</div>
        <div class="Ship_Map_Position_Block" id="slot3">2/10</div>
        <div class="Ship_Map_Position_Block" id="slot4">3/9</div>
        <div class="Ship_Map_Position_Block" id="slot5">4/8</div>
        <div class="Ship_Map_Position_Block" id="slot6">5/7</div>
        <div class="Ship_Map_Position_Block" id="slot7">6/6</div>
        <div class="Ship_Map_Position_Block" id="slot8">7/5</div>
        <div class="Ship_Map_Position_Block" id="slot9">8/4</div>
        <div class="Ship_Map_Position_Block" id="slot10">9/3</div>
        <div class="Ship_Map_Position_Block" id="slot11">10/2</div>
        <div class="Ship_Map_Position_Block" id="slot12">11/1</div>
        <div class="Ship_Map_Position_Block" id="slot13">Player2</div>
    </div>
<form asp-action="Test"><button>Test</button></form>
<form asp-action="Reset"><button>Reset</button></form>
<form asp-action="Ship1"><button>Launch ship one</button></form>
<form asp-action="Ship2"><button>Launch ship two</button></form>

</div>