@{
    ViewData["Title"] = "Home Page";
}
@model Player

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        @* // In this context '~' refers to the wwwroot folder *@
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
@*
<div class="text-center">
    <h1 class="display-4">LightYear</h1>
    <h3>Welcome to the intro page!</h3>
    <h4>Testing player logins!</h4>
    <form asp-action="LoginProcess" asp-controller="Post" method="post">
        <p>
            <p align="center">
                <input name='Name' type="text">
            </p>
            <p align="center">
                <button>Hop on in!</button>
            </p>
        </p>
    </form> *@
    <body>
        <div id="babywrapper">
            <br>
            <h1 align='center' class="Gameover">LightYear</h1>
            <div class="IntroPageArt">
                <img class="Intropicture" src="images/introartnewest.png" alt="lightyear photo">
                <div align="center" class="gradiantpicturediv">
                    <br>
                    @* <h3 style="color: white;">SYNOPSIS HERE</h3>
                    <br> *@

                    <form asp-action="LoginProcess" asp-controller="Post">
                        <input type="text" name="Name" value="ENTER NAME">
                    <br>
                    <br>
                    <button class='shipyardbutton'>Start Game</button>
                    </form>
                </div>

            </div>
        
        </div>
    </body>
</html>